version: "3.9"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - /home/nlxdodge/configurations/jellyfin/config:/config
      - /home/nlxdodge/configurations/jellyfin/cache:/cache
      - /mnt/md0:/md0
    extra_hosts:
      - host.docker.internal:host-gateway
    labels:
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.gerbenveenhof.nl`)"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: seerr
    restart: unless-stopped
    init: true
    depends_on:
      - jellyfin
      - radarr
      - sonarr
    volumes:
      - /home/nlxdodge/configurations/seerr:/app/config
    labels:
      - "traefik.http.routers.seerr.rule=Host(`seerr.gerbenveenhof.nl`)"
      - "traefik.http.services.seerr.loadbalancer.server.port=5055"
      - "traefik.http.routers.seerr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.seerr.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  flood:
    image: jesec/flood
    container_name: flood
    restart: unless-stopped
    depends_on:
      - transmission
    command: --port 3000 --allowedpath /md0
    user: "1000:1000"
    environment:
      HOME: /config
    volumes:
      - /home/nlxdodge/configurations/flood:/config
      - /mnt/md0:/md0
    labels:
      - "traefik.http.routers.flood.rule=Host(`flood.gerbenveenhof.nl`)"
      - "traefik.http.services.flood.loadbalancer.server.port=3000"
      - "traefik.http.routers.flood.tls.certresolver=letsencrypt"
      - "traefik.http.routers.flood.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=windscribe
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_REGIONS=Netherlands
    ports:
      - 9091:9091 # transmission
      - 51413:51413 # transmission
      - 51413:51413/udp # transmission

  transmission:
    image: lscr.io/linuxserver/transmission
    depends_on:
      - gluetun
    user: "1000:1000"
    network_mode: "service:gluetun" # use gluetun vpn container
    container_name: transmission
    restart: unless-stopped
    environment:
      - USER=${TRANSMISSION_USERNAME}
      - PASS=${TRANSMISSION_PASSWORD}
    volumes:
      - /home/nlxdodge/configurations/transmission/config:/config
      - /home/nlxdodge/configurations/transmission/watch:/watch
      - /mnt/md0:/md0
      - /mnt/md0/downloads:/downloads

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: unless-stopped
    depends_on:
      - transmission
    volumes:
      - /home/nlxdodge/configurations/sonarr/config:/config
      - /mnt/md0:/md0
    labels:
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.gerbenveenhof.nl`)"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    depends_on:
      - transmission
    volumes:
      - /home/nlxdodge/configurations/radarr:/config
      - /mnt/md0:/md0
    labels:
      - "traefik.http.routers.radarr.rule=Host(`radarr.gerbenveenhof.nl`)"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr
    volumes:
      - /home/nlxdodge/configurations/bazarr:/config
      - /mnt/md0:/md0
    labels:
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.gerbenveenhof.nl`)"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.http.routers.bazarr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: unless-stopped
    depends_on:
      - transmission
    volumes:
      - /home/nlxdodge/configurations/prowlarr:/config
    labels:
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.gerbenveenhof.nl`)"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.http.routers.prowlarr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.docker.network=global"
      - "traefik.enable=true"

networks:
  default:
    external:
      name: global
